[submodule "openwrt-sdk-22.03.3-x86-64_gcc-11.2.0_musl.Linux-x86_64/package/feeds"]
	path = openwrt-sdk-22.03.3-x86-64_gcc-11.2.0_musl.Linux-x86_64/package/feeds
	url = https://github.com/shadowsocks/openwrt-feeds.git
[submodule "openwrt-sdk-22.03.3-x86-64_gcc-11.2.0_musl.Linux-x86_64/package/chinadns-ng"]
	path = openwrt-sdk-22.03.3-x86-64_gcc-11.2.0_musl.Linux-x86_64/package/chinadns-ng
	url = https://github.com/pexcn/openwrt-chinadns-ng.git
[submodule "openwrt-sdk-22.03.3-x86-64_gcc-11.2.0_musl.Linux-x86_64/package/v2ray-plugin"]
	path = openwrt-sdk-22.03.3-x86-64_gcc-11.2.0_musl.Linux-x86_64/package/v2ray-plugin
	url = https://github.com/chenhw2/openwrt-v2ray-plugin.git
